@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
  .hero-image-mobile {
    display:none;
  }
}

@media (max-width: 1200px) and (min-width:992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 767px){
  .title {
    font-size: 4.5rem;
    line-height: normal;
  }
}

@media (max-width: 640px) {
}

@media only screen and (min-width: 1200px){
}

@media only screen and (min-width: 991px){

}

@media only screen and (max-width: 991px){
  .nav-background {
    background: rgba(57,84,166,1.0);
    color: #fff;
    padding: 0.7rem;
    border-bottom: 2px solid #fff
  }
}


@media (max-width: 471px){
  .services .jumbotron .container {
    background-color: #green;

  }
}

@media only screen and (max-width: 430px){
  .hero-image{
    background-position: left;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.50);
  }

  .title {
    font-size: 3.8rem;
    line-height: normal;
  }

  .logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .logo-caption {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  .services .tile {
    color: blue;
  }
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
}
