@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1200px) and (min-width:992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 767px){
}

@media (max-width: 640px) {
}

@media only screen and (min-width: 1200px){
}

@media only screen and (min-width: 991px){
}

@media only screen and (max-width: 991px){
}


@media (max-width: 471px){
}

@media (max-width: 430px){
}

/*https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_mq_breakpoints*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .example {background: pink;}
